/* GLOBAL STYLING */
html,
ul,
h2,
p {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    line-height: 2.9rem;
    color: #1F2022;
}
a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

h1 {
    color: #186684;
    font-family: 'Nova Flat', cursive;
    font-size: 10rem;
    line-height: 9rem;
    background: rgba(227, 228, 234, 89%);
    padding: 10px;
    max-width: 410px;
    text-align: left;
    float: center;
    font-weight: normal;
    position: absolute;
    right: 24.5%;
    top: 35.5%;
}

h2 {
    font-family: 'Nova Flat', cursive;
    font-size: 4.2rem;
    color: #186684;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    line-height: 2.9rem;
    margin: 20px 0 30px
}

nav {
    text-align: center;
    font-family: 'Nova Flat', cursive;
    font-size: 2.5rem;
    line-height: 2.9rem;
}

nav a {
        padding: 10px;
}

nav li {
        display: inline-block;
        Margin: 0 5px;
}

nav li:hover,
nav li:focus {
    color: #E85B26;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

.buttons {
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-family: 'Nova Flat', cursive;
    color: #186684;
    border: 3px solid #E85B26;
    text-transform: uppercase;
}

.buttons:hover,
.buttons:focus {
    color: white;
    background: #186684;
}

.readMore {
        padding: 10px 15px;
}

/* HEADER STYLES */
header {
    background: url(./assets/image-1@2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    height: 100vh;
    padding: 10px 50px;   
    position: relative;
}


/* Main Navigation Styling */
input#dropdown,
.burger label {
    display: none;
}



.mainNav {
    margin-top: 0;
    color: #185584;
}

.mainNav li {
    color: #186684;
}


/* socials */
.socials {
    float: right;
    color: #E85B26;
    font-size: 2.2rem;
    line-height: 3.5rem;
    text-align: center;
    position: absolute;
    right: 4%;
    top: 36%;
}

.socials a {
    padding: 5px;
}


/* MAIN STYLES */
.aboutText {
    height: 350px;
    width: 50%;
    padding:9% 5% 0 5%;
    float: right;
}


.image1 {
    float: right;
    max-width: 50%;
}

.image2 {
    float: left;
    max-width: 50%;
}


/* BLOG STYLES */
.blog {
    background: #F4F4F4;
    padding: 60px 40px;
}

.blog img,
.blogText {
    float: left;
}

.blog img {
    margin-right: 50px;
    width: 300px;
    height: 300px;
}

.blogText {
    max-height: 300px;
    margin-top: 10px;
    max-width: 65%;
    text-align: left;
}

.blogText h2 {
    margin-bottom: 10px;
}
.blogText p {
    margin: 39px 0;
}

/* products, community Reach out */
.products {
    background: url(./assets/image-5@2x.png);
    background-size: cover;
    height: 420px;
    position: relative;
}

.menu {
    background: #f4f4f4;
    height: 45%;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
}

.menu ul{
   /* text-align: center; */
   position: relative;
   width: 100%;
   height: 100%;
}
.menu li {
    position: absolute;
    display: inline-block;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    margin: 50px 0;
    height: auto;
    width: auto;
}

.menu ul li:nth-of-type(1) {
    left: 8%;
    margin: 40px 0;
}

.menu ul li:nth-of-type(2) {
    left: 0;
    right: 0;
}

.menu ul li:nth-of-type(3) {
    right: 6%;
}



.menu i {
    color: #E85B26;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

i.fa-shopping-bag {
    font-size: 6rem;
    margin-bottom: 5px;
}

.menu span {
    display: block;
    color: #186684;
}

/* The Gram  */
.gram {
    padding: 0 40px;
}

.gram h2 {
    text-align: center;
    margin: 70px auto;
    font-weight: normal;
    font-size: 3rem;
}

.gram li {
    float: left;
    margin-right: 45px;
    width: calc((100% / 3) - 30px);
}


.gram ul li:nth-of-type(3) {
    margin-right: 0;
}


/* contact */

.contact {
    height: auto;
    background: #f4f4f4;
    margin-top: 75px;
    padding: 40px;
}
h3 {
    font-family: 'Nova Flat', cursive;
    color: #E85B26;
    margin: 25px 0 10px;
}

.contactInfo,
.subscribe {
    float: left;
}

.contactInfo {
   width: 265px;
}

.subscribe {
    float: right;
}

.subscribe p {
    margin-bottom: 10px;
}

.subscribe input,
.subscribe button {
    height: 45px;
}

.subscribe input {
    width: 445px;
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    padding-left: 35px;
}

.subscribe button {
    width: 125px;
}

/* FOOTER */
footer {
    background: #1F2022;
    color:grey;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
}




/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 940px) {
    .image1,
    .image2 {
    float: none;
    max-width: 100%;
}

    .aboutText {
        display: block;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .blogText {
        display: inline-block;
        width: 100%;
        text-align: center;
        float: none;
        margin: 40px 17% 0;
    }

    
    .blog img {
        float: none;
        display: block;
        margin:  0 auto;
        height: 400px;
        width: 400px;
    }


    .products {
        height: auto;
        padding: 50px 0;
    }

    .menu {
        width: 50%;
        padding: 30px;
        margin: auto;
        position: static;
    }

    .menu ul{
    position: static;
    width: 100%;
    height: auto;
    }
    
    .menu li {
        position: static;
        display: block;
    }

    .contact,
    .subscribe {
        float: none;
        display: block;
    }

    .contactInfo,
    .subscribe {
        float: none;
        margin: auto;
        text-align: center;
    }

    .subscribe input {
        width: 300px;
        display: block;
        margin: 10px auto;
    }

}


@media (max-width: 768px) {
    header {
        background-position: 30% 50%;
    }

    h1 {
        right: 12%;
        top: 35.5%;
    }
}


@media (max-width: 480px) {
    header {
        background-position: 32% 60% ;
        padding-right: 0;
    }

    h1 {
        top: 45%;
        left: 20%;
        padding: 5px;
        font-size: 8rem;
    }

    .burgerContent {
        max-width: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 50px;
        transition: all .5s;
    }

    .burger label {
        display: block;
        cursor: pointer;
        font-size: 4rem;
        color: #186684;
        position: fixed;
        right: 20px;
    }
    .mainNav li {
        display: block;
        background: rgba(227, 228, 234, 89%);
        text-align: right;
    }

    .mainNav a {
        padding: 10px;
        margin-right: 5px;
    }

    input:checked ~ .burgerContent {
        max-width: 150px;
        margin: auto;
    }

    .socials {
        display: none;
    }

    .gram h2 {
        margin: 30px auto;
    }

    .gram ul {
        height: auto;
    }

    .gram ul li {
        width: calc(50% - 20px);
        margin: 0;
    }

    .gram ul li:nth-of-type(2) {
        margin-left: 40px;
    }

    .gram ul li:nth-of-type(3) {
        display: none;
    }

    .bottomNav li {
        margin: 0 20px;
    }

    .contact {
        margin-top: 40px;
        padding: 40px 0;
    }

    .subscribe input,
    .subscribe button {
        width: 100%;
    }

    .subscribe input {
        display: block;
        text-align: center;
    }    
}